@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #c2b8b8;
  height: 300vh;
}
/* img {
  width: 20%;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
  margin: 20px 20px;
  background-color: white;
  border-radius: 50px;
  position: sticky;
}
.logo {
  cursor: pointer;
  color: #7d20c9;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
nav ul li a:hover {
  color: #a157dc;
  font-weight: 900;
}
.call-now-btn {
  padding: 9px 23px;
  background-color: rgba(161, 87, 220, 1);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  color: white;
}
.call-now-btn:hover {
  background-color: rgba(161, 87, 220, 0.8);
  color: black;
}
